@import "../scss/function";
* {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
// loader
.loader {
  @include loader;

  img {
    @include img-loader;
  }
}
.disppear {
  animation: vanish 3s forwards;
}
@keyframes vanish {
  100% {
    opacity: unset;
    visibility: hidden;
  }
}
// loader
body {
  @include body-background(#87a480);
}
img {
  height: 100px;
}
nav {
  @include nav;
}
a:hover {
  @include a-hover(#87a480);
}
// container
.container-box {
  @include container-box;
  // box
  .box {
    @include box;
    h4 {
      @include h(18px);
    }
    h6 {
      @include h(12px);
    }
    img {
      @include img-box;
    }
    p {
      margin: 0px;
      font-size: 10px;
    }
    a {
      @include a(#87a480);
    }
    .pingredient {
      display: none;
    }
    .divSourceUrl {
      display: none;
      flex-direction: column;
    }
    .btn {
      @include btn-background(#87a480);
    }
    .btnBack {
      display: none;
    }
    .rightDiv {
      @include right-div;
    }
  }
  // box
  // full-box
  .boxFull {
    @include box-full;
    .btn {
      display: none;
    }
    .btnBack {
      @include btn-back-full(#87a480);
    }
    .leftDiv {
      @include left-div-full;
      .ingredient {
        @include ingredient-full;
      }
      border-radius: 20px 0px 0px 20px;
    }
    .rightDiv {
      height: 80%;
      @include right-div-full;
    }
    img {
      @include img-full;
    }
    .divSourceUrl {
      display: flex;
      .pingredient {
        font-size: 18px;
      }
    }
    a {
      color: #87a480;
    }
  }
  // full-box
  .box:hover {
    @include box-hover;
  }
}
// container
// media
@media only screen and (max-width: 500px) {
  .container-box {
    display: flex;
    flex-wrap: wrap;
    .box {
      -webkit-box-shadow: 0px 0px 17px -1px #ffffff;
      box-shadow: 0px 0px 17px -1px #ffffff;
    }
    .boxFull {
      @include box-media;
      img {
        width: 100%;
      }
      .rightDiv {
        @include right-div-media;
        .btnBack {
          width: 100%;
        }
      }
      .leftDiv {
        @include left-div-media;
      }
    }
  }
  .loader {
    img {
      @include img-loader-media;
    }
  }
}
// media
// footer
footer {
  @include footer;
  a {
    @include a-footer;
  }
  img {
    width: 100px;
    height: 50px;
  }
}
// footer
