@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  font-family: "Comic Sans MS", cursive, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.loader {
  background-color: black;
  background-size: 100%;
  background-position: center;
  height: 100%;
  width: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}

.loader img {
  width: 7%;
  height: 15%;
  position: relative;
  right: 17px;
}

.disppear {
  -webkit-animation: vanish 3s forwards;
          animation: vanish 3s forwards;
}

@-webkit-keyframes vanish {
  100% {
    opacity: unset;
    visibility: hidden;
  }
}

@keyframes vanish {
  100% {
    opacity: unset;
    visibility: hidden;
  }
}

body {
  background-color: white;
  display: block;
  color: black;
}

body nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
  color: white !important;
  background-color: black;
  z-index: 2;
}

body nav img {
  width: 200px;
  height: 100px;
}

body nav .fa-solid {
  font-size: 20px;
  color: white;
}

body nav .fa-solid .item {
  display: none;
  width: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body img {
  height: 280px;
}

body .main .card-body {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1rem 1rem;
  height: 91px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
}

body .main .card-img-top {
  width: 95%;
  margin: auto;
  margin-top: 10px;
}

body .main .right {
  text-align: center;
  color: white !important;
}

body .main .right .btn-back {
  display: none;
}

body .main .card-title {
  height: 43px;
  margin-bottom: 0.5rem;
}

body .main .card {
  background: #000000;
  background: radial-gradient(ellipse at center, #000000 0%, #727272 0%, #000000 100%);
}

body .main .card .btn {
  color: white;
}

footer {
  background-color: black !important;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

footer img {
  width: 100px;
  height: 50px;
}

@media only screen and (max-width: 500px) {
  .loader img {
    width: 15%;
    height: 7%;
    position: relative;
    right: 17px;
  }
}
/*# sourceMappingURL=delivery.css.map */