@import "../scss/function";
* {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
// loader
.loader {
  @include loader;
  img {
    width: 7%;
    height: 15%;
    position: relative;
    right: 17px;
  }
}
.disppear {
  animation: vanish 3s forwards;
}
@keyframes vanish {
  100% {
    opacity: unset;
    visibility: hidden;
  }
}
// loader
//body
body {
  display: block;
  background-image: url(/img/pexels-photo-1640770.jpeg);
  background-color: rgba(0, 0, 0, 0.488);
  background-blend-mode: color;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}
img {
  height: 100px;
}
nav {
  width: 100%;
  color: white !important;
}
a:hover {
  color: white !important;
  font-size: 17px;
  transition: all 0.5s;
}
main {
  height: 500px;
  align-items: flex-end;
}
.inputs {
  input {
    @include input-box;
  }
}
textarea {
  border-radius: 10px;
  border: none;
}
input {
  @include input-sub;
}
// box
.box {
  @include box-message(#de9a9a);
  .btn {
    border: none;
    padding: 15px;
    border-radius: 10px;
    width: 50%;
    background-color: aliceblue;
  }
  .a {
    display: contents;
  }
}
// box
//footer
footer {
  @include footer;
  a {
    color: white;
    text-decoration: none;
    padding: 10px;
  }
  img {
    width: 90px;
    height: 40px;
  }
}
//footer
//body
// media
@media only screen and (max-width: 500px) {
  .loader {
    img {
      @include img-loader-media;
    }
  }
  .box {
 @include box-message-media
  }
}
// media
